<html>

<body>
    <div id="app">
        <div v-for="item in content">
            <div>
                <h3>Camera: {{ item.name }}</h3>
            </div>
            <div>
                <p>Devise: {{ item.camera }}</p>
            </div>

            <div>
                Resolution:
                <select>
                    <option v-for="option in item.resolutions" v-bind:value="option">
                        {{ option.encode }} {{ option.width }}x{{ option.height }}
                    </option>
                </select>
            </div>
            <h4>
                Controls:
            </h4>
            <div v-for="control in item.controls">
                <h5>Name: {{ control.name }}</h5>
                <div v-if="control.configuration.Slider">
                    <v4lslider
                        :slider="control.configuration.Slider"
                        :name="control.id.toString()"
                        v-on:onchange="(value) => setControl(item.camera, control.id, value)"
                    ></v4lslider>
                </div>

                <div v-if="control.configuration.Bool">
                    <input
                        type="checkbox"
                        :checked="control.configuration.Bool.value == 1"
                        @change="(event) => setControl(item.camera, control.id, event.target.checked ? 1 : 0)"
                        >
                    <label>On</label>
                </div>

                <div v-if="control.configuration.Menu">
                    <select
                        @change="(event) => setControl(item.camera, control.id, event.target.value)"
                    >
                        <option
                            v-for="option in control.configuration.Menu.options"
                            v-bind:value="option.value"
                            :selected="option.value == control.configuration.Menu.value"
                            >
                            {{option.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        const app = Vue.createApp({
            mounted: function () {
                this.requestData()
            },
            methods: {
                requestData: async function() {
                    const response = await fetch(this.restAddress);
                    this.content = await response.json();
                },
                setControl: async function(camera, id, value) {
                    console.log(`Configuring: ${camera} ${id}, ${value}`)
                    const settings = {
                        method: 'POST',
                        body: JSON.stringify({ "device": camera, "v4l_id": Number(id), "value": Number(value) }),
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                        }
                    };
                    const response = await fetch(this.restAddress, settings);
                    if (!response.ok) {
                        console.log("Something went wrong with POST:")
                        console.log(response)
                    };
                }
            },
            data: function() {
                return {
                    //location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
                    "restAddress": `${location.protocol}//${location.hostname}:6020/v4l`,
                    "state": {
                        "resolution": undefined,
                    },
                    "content": []
                }
            }
        });

        app.component('v4lslider', {
            props: {
                slider: {
                    type: Object,
                    required: true
                },
                name: {
                    type: String,
                    required: true
                },
            },
            data: function() {
                return {
                    "val": this.slider.value,
                };
            },
            template: `
                <div>
                    <input type='range'
                        :min='slider.min'
                        :max='slider.max'
                        :value='val'
                        :step='slider.step'
                        :id="'range-input-' + name"
                        @change='$emit("onchange", val)'
                        v-on:input='val = $event.target.value'
                        class='slider'>
                    <span>{{val}}</span>
                </div>`
        })

        app.mount("#app")
    </script>
</body>

</html>
