<html>

<body>
    <div id="app" style="display: flex; column-gap: 1em">
        <div style="display: flex; column-gap: 1em">
            <div v-for="item in content">
                <div>
                    <h3>Camera: {{ item.name }}</h3>
                </div>
                <div>
                    <p>Devise: {{ item.camera }}</p>
                </div>
                <h4>
                    Configure Stream:
                </h4>
                <div>
                    <streamform :camera="item" :streams="streams">
                </div>
                <h4>
                    Controls:
                </h4>
                <div v-for="control in item.controls">
                    <h5>Name: {{ control.name }}</h5>
                    <div v-if="control.configuration.Slider">
                        <v4lslider
                            :slider="control.configuration.Slider"
                            :name="control.id.toString()"
                            v-on:onchange="(value) => setControl(item.camera, control.id, value)"
                        ></v4lslider>
                    </div>

                    <div v-if="control.configuration.Bool">
                        <input
                            type="checkbox"
                            :checked="control.configuration.Bool.value == 1"
                            @change="(event) => setControl(item.camera, control.id, event.target.checked ? 1 : 0)"
                            >
                        <label>On</label>
                    </div>

                    <div v-if="control.configuration.Menu">
                        <select
                            @change="(event) => setControl(item.camera, control.id, event.target.value)"
                        >
                            <option
                                v-for="option in control.configuration.Menu.options"
                                v-bind:value="option.value"
                                :selected="option.value == control.configuration.Menu.value"
                                >
                                {{option.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <h3>Streams</h3>
                <div v-for="stream in streams">
                    <div>
                        <h3>Name: {{ stream.information.name }}</h3>
                    </div>
                    <div>
                        <p>Video: {{ stream.information.stream_information.configuration.encode }} {{ stream.information.stream_information.configuration.width }}x{{ stream.information.stream_information.configuration.height }} @ {{ stream.information.stream_information.configuration.frame_interval.denominator / stream.information.stream_information.configuration.frame_interval.numerator}} FPS</p>
                    </div>
                    <div>
                        <p>Endpoints:</p>
                        <div style="margin-left: 0.5em;" v-for="endpoint in stream.information.stream_information.endpoints">
                            <p>{{ endpoint }}</p>
                        </div>
                    </div>
                    <div>
                        <p>Configuration:</p>
                        <pre style="margin-left: 0.5em;">{{ JSON.stringify(stream, undefined, 2) }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
        const app = Vue.createApp({
            mounted: function () {
                this.requestData()
            },
            methods: {
                requestData: async function() {
                    const response_content = await fetch(this.restAddress + '/v4l');
                    this.content = await response_content.json();

                    const response_streams = await fetch(this.restAddress  + '/streams');
                    this.streams = await response_streams.json();
                },
                setControl: async function(camera, id, value) {
                    console.log(`Configuring: ${camera} ${id}, ${value}`)
                    const settings = {
                        method: 'POST',
                        body: JSON.stringify({ "device": camera, "v4l_id": Number(id), "value": Number(value) }),
                        headers: {
                            Accept: 'application/json',
                            'Content-Type': 'application/json',
                        }
                    };
                    const response = await fetch(this.restAddress  + '/v4l', settings);
                    if (!response.ok) {
                        console.log("Something went wrong with POST:")
                        console.log(response)
                    };
                },
                findStream: function(camera) {
                    for(stream of streams) {
                        console.log(JSON.stringify(stream.information.video_source, undefined, 2))
                    }
                }
            },
            data: function() {
                return {
                    //TODO: Add this back
                    //location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
                    "restAddress": `${location.protocol}//${location.hostname}:6020`,
                    "state": {
                        "resolution": undefined,
                    },
                    "content": [],
                    "streams": []
                }
            }
        });

        app.component('v4lslider', {
            props: {
                slider: {
                    type: Object,
                    required: true
                },
                name: {
                    type: String,
                    required: true
                },
            },
            data: function() {
                return {
                    "val": this.slider.value,
                };
            },
            template: `
                <div>
                    <input type='range'
                        :min='slider.min'
                        :max='slider.max'
                        :value='val'
                        :step='slider.step'
                        :id="'range-input-' + name"
                        @change='$emit("onchange", val)'
                        v-on:input='val = $event.target.value'
                        class='slider'>
                    <span>{{val}}</span>
                </div>`
        })

        app.component('streamform', {
            props: {
                camera: {
                    type: Object,
                    required: true
                },
                streams: {
                    type: Object,
                    required: true
                },
            },
            mounted: function() {
                this.stream_options.encoders = this.stream_options.encoders =
                            this.camera.formats
                                .map((format) => this.encodeToStr(format.encode))
            },
            watch: {
                streams: {
                    handler: function(streams, _) {
                        this.stream = streams
                            .filter((stream) => stream.information.video_source.Local.device_path == this.camera.camera)[0]
                        if(!this.stream) {
                            return;
                        }

                        this.stream_setting.configuration.encode = this.stream.information.stream_information.configuration.encode
                        this.stream_setting.configuration.size = {
                            height: this.stream.information.stream_information.configuration.height,
                            width: this.stream.information.stream_information.configuration.width
                        }
                        this.stream_setting.configuration.interval = this.stream.information.stream_information.configuration.frame_interval
                        this.stream_setting.configuration.endpoints = this.stream.information.stream_information.endpoints ?
                            this.stream.information.stream_information.endpoints.join(", ") : ""
                    },
                    deep: true
                },
                stream_setting: {
                    handler: function(stream_setting, _) {
                        console.log(JSON.stringify(stream_setting, undefined, 2))

                        this.stream_options.encoders =
                            this.camera.formats
                                .map((format) => this.encodeToStr(format.encode))

                        this.stream_options.sizes =
                            this.camera.formats
                                .filter((format) => this.encodeToStr(format.encode) == stream_setting.configuration.encode)
                                .map((format) => format.sizes)[0]
                                // Sort width by preference
                                .sort((size1, size2) => (10 * size2.width + size2.height) - (10 * size1.width + size1.height))

                        console.log(this.stream_options.sizes)

                        let chosen_size = stream_setting.configuration.size
                        if(chosen_size == undefined) {
                            return;
                        }

                        this.stream_options.intervals =
                            this.stream_options.sizes
                                .filter((size) => size.width == chosen_size.width && size.height == chosen_size.height)[0].intervals
                    },
                    deep: true
                }
            },
            methods: {
                encodeToStr: function(encode) {
                    // encode is an enum that contains the encode as string or a object that describes the encode
                    return typeof(encode) == 'object' ? Object.values(encode)[0] : encode
                },
                submitForm: async function() {
                    console.log(this.stream_setting.configuration)
                    console.log(`Stream configuration: ${JSON.stringify(this.stream_setting, undefined, 2)}`)
                }
            },
            data: function() {
                return {
                    stream_setting: {
                        name: this.camera.camera + ' - ' + this.camera.name,
                        endpoints: undefined,
                        configuration: {
                            encode: undefined,
                            size: undefined,
                            interval: undefined,
                            endpoints: undefined
                        }
                    },
                    stream_options: {
                        encoders: undefined,
                        sizes: undefined,
                        intervals: undefined,
                    },
                    stream: undefined
                };
            },
            template: `
                <form
                >
                    <p>
                        <label>Name: </label>
                        <input
                            name="name"
                            type="text"
                            autocomplete="off"
                            v-bind:value="stream_setting.name"
                        >
                    </p>

                    <div>
                        <label>Encode: </label>
                        <select v-model="stream_setting.configuration.encode">
                            <option
                                v-for="encode in stream_options.encoders"
                                :value="encode"
                            >
                                {{ encode }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>Size: </label>
                        <select v-model="stream_setting.configuration.size">
                            <option
                                v-for="size in stream_options.sizes"
                                v-bind:value="{width: size.width, height: size.height}"
                            >
                                {{ size.width }} x {{ size.height }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>FPS: </label>
                        <select v-model="stream_setting.configuration.interval">
                            <option
                                v-for="interval in this.stream_options.intervals"
                                v-bind:value="interval"
                            >
                                {{ interval.denominator / interval.numerator }}
                            </option>
                        </select>
                    </div>

                    <p>
                        <label>Endpoints: </label>
                        <input
                            type="text"
                            autocomplete="off"
                            v-model="stream_setting.configuration.endpoints"
                        >
                    </p>
                    <button disabled type="button" :onclick="submitForm">Configure stream</button>
                </form>
            `
        })

        app.mount("#app")
    </script>
</body>

</html>
